n8n-workflows/ai-call-agent.json
{
  "name": "AI Call Answering Agent",
  "nodes": [
    {
      "parameters": {
        "path": "incoming-call",
        "options": {}
      },
      "id": "webhook-incoming-call",
      "name": "Webhook - Incoming Call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "ai-call-agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "caller_number",
              "name": "callerNumber",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "call_sid",
              "name": "callSid",
              "value": "={{ $json.CallSid }}",
              "type": "string"
            },
            {
              "id": "call_status",
              "name": "callStatus",
              "value": "={{ $json.CallStatus }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-call-data",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"You are a helpful AI phone assistant. Answer calls professionally and assist callers with their inquiries. Keep responses concise and clear for phone conversations. You can help with: 1) General information about the company, 2) Scheduling appointments, 3) Taking messages, 4) Providing support. Always be polite and professional.\"}, {\"role\": \"user\", \"content\": \"A caller from \" + $json.callerNumber + \" is calling. Please provide a professional greeting and ask how you can help them.\"}] }}"
            },
            {
              "name": "temperature",
              "value": "0.7"
            },
            {
              "name": "max_tokens",
              "value": "150"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-agent-initial-greeting",
      "name": "AI Agent - Initial Greeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai_response",
              "name": "aiResponse",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "response_text",
              "name": "responseText",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-ai-response",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ '<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Say voice=\"alice\">' + $json.responseText + '</Say><Gather input=\"speech\" action=\"' + $env.N8N_WEBHOOK_URL + '/webhook/call-input\" method=\"POST\" speechTimeout=\"3\" language=\"en-US\"><Say>Please tell me how I can help you.</Say></Gather></Response>' }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "id": "respond-with-twiml",
      "name": "Respond with TwiML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "path": "call-input",
        "options": {}
      },
      "id": "webhook-call-input",
      "name": "Webhook - Call Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 520],
      "webhookId": "ai-call-input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "speech_result",
              "name": "speechResult",
              "value": "={{ $json.SpeechResult || $json.Digits || 'No input detected' }}",
              "type": "string"
            },
            {
              "id": "call_sid",
              "name": "callSid",
              "value": "={{ $json.CallSid }}",
              "type": "string"
            },
            {
              "id": "confidence",
              "name": "confidence",
              "value": "={{ $json.Confidence || 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-speech-input",
      "name": "Extract Speech Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"You are a helpful AI phone assistant. Respond to the caller's request professionally and helpfully. Keep responses brief and conversational (2-3 sentences max). If asked to schedule an appointment, confirm the date and time. If asked for information, provide it clearly. If you cannot help, politely explain and offer alternatives.\"}, {\"role\": \"user\", \"content\": $json.speechResult}] }}"
            },
            {
              "name": "temperature",
              "value": "0.7"
            },
            {
              "name": "max_tokens",
              "value": "200"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-agent-process-request",
      "name": "AI Agent - Process Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai_response",
              "name": "aiResponse",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "user_input",
              "name": "userInput",
              "value": "={{ $('Extract Speech Input').item.json.speechResult }}",
              "type": "string"
            },
            {
              "id": "call_sid",
              "name": "callSid",
              "value": "={{ $('Extract Speech Input').item.json.callSid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "end_call_check",
              "leftValue": "={{ $json.aiResponse.toLowerCase() }}",
              "rightValue": "goodbye",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "end_call_check_2",
              "leftValue": "={{ $json.userInput.toLowerCase() }}",
              "rightValue": "goodbye",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combineOperation": "any"
        },
        "options": {}
      },
      "id": "check-if-end-call",
      "name": "Check if End Call",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [1120, 520]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ '<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Say voice=\"alice\">' + $json.aiResponse + ' Thank you for calling. Goodbye!</Say><Hangup/></Response>' }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "id": "end-call",
      "name": "End Call",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ '<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Say voice=\"alice\">' + $json.aiResponse + '</Say><Gather input=\"speech\" action=\"' + $env.N8N_WEBHOOK_URL + '/webhook/call-input\" method=\"POST\" speechTimeout=\"3\" language=\"en-US\"><Say>Is there anything else I can help you with?</Say></Gather></Response>' }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "id": "continue-conversation",
      "name": "Continue Conversation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 620]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "call_logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_sid": "={{ $json.callSid }}",
            "user_input": "={{ $json.userInput }}",
            "ai_response": "={{ $json.aiResponse }}",
            "timestamp": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "log-conversation",
      "name": "Log Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 720],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "caller_number",
              "name": "callerNumber",
              "value": "={{ $json.callerNumber }}",
              "type": "string"
            },
            {
              "id": "call_sid",
              "name": "callSid",
              "value": "={{ $json.callSid }}",
              "type": "string"
            },
            {
              "id": "call_start",
              "name": "callStart",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "initiated",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-initial-call",
      "name": "Log Initial Call",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 140]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "call_sessions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_sid": "={{ $json.callSid }}",
            "caller_number": "={{ $json.callerNumber }}",
            "call_start": "={{ $json.callStart }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "save-call-session",
      "name": "Save Call Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 140],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Incoming Call": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "AI Agent - Initial Greeting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Initial Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Initial Greeting": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Respond with TwiML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Call Input": {
      "main": [
        [
          {
            "node": "Extract Speech Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Speech Input": {
      "main": [
        [
          {
            "node": "AI Agent - Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Process Request": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Check if End Call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if End Call": {
      "main": [
        [
          {
            "node": "End Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Initial Call": {
      "main": [
        [
          {
            "node": "Save Call Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-27T00:00:00.000Z",
  "versionId": "1"
}
